.expenseCardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    border-radius: 0.5rem;
    /* flex-grow: 1; */
     
}

.colorLabel {
    width: 2rem;
    border-radius: 0.5rem 0 0 0.5rem;
    border-right: 1px solid var(--text);
    background-color: rgb(152, 57, 57);
}

.expenseCard {
    background-color: var(--social-bg);
    border: 1px solid var(--border);
    border-radius: 0.5rem;
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem 0;
    flex-grow: 1;

    .textDiv {
        display: flex;
        flex-direction: column;
        align-items: start;
        /* padding: 0.5rem; */
        padding: 0;
        margin: 0;
        width: 10rem;
        /* border: 1px solid red; */
        /* overflow: scroll; */
    }

    .subtitleDiv {
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    /* .subtitleDiv p {
        padding: 0.1rem;
    } */

    .rightColumn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;
        /* border: 1px solid red; */
    }
    


    .descriptionContainer {
        font-size: 1rem;
        font-weight: 600;
    }   

    /* .dateContainer {
        border: 1px solid red;
    } */

    .categoryContainer {
        background-color: var(--bg);
        border: 1px solid var(--text);
        border-radius: 1rem;
        width: fit-content;
        padding: 0.2rem 0.5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 0.3rem;
        font-size: 0.8rem;

        .categoryColorLabel {
            border: 1px solid var(--text);
            border-radius: 50%;
            width: 0.8rem;
            height: 0.8rem;
        }
    }


    .btnDiv {
        width: fit-content;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
    }

    .btnDiv button {
        border-radius: 0.5rem;
        padding: 0.5rem;
        margin: 0.2rem;
    }
}