header {
  display: flex;
  padding: 0 1rem;
  /* border: 1px solid red; */
  width: auto;
}

#header-buttons-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#header-buttons-ul li {
  padding: 0.2rem;
}

main {
  max-width: 700px;
  width: 90vw;
  align-self: center;
  /* border: 1px solid red; */
}

.add-expense-btn {
  width: 100%;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: green;
}

.add-expense-form {
  display: flex;
  flex-direction: column;
  width: auto;
  border: 0.1rem solid white; 
  /* border: 1px solid red; */
  border-radius: 1rem;
  flex-wrap: wrap;
  padding: 0.8rem;
}


.add-expense-form > * {
  margin: 0.5rem;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: start;
}

.add-expense-submit-btn-div > * {
  /* border: 1px solid red; */
  padding: 1rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  font-weight: bold;
  width: 50%;
}

.add-expense-submit-btn {
  background-color: green;
}

.cancel-expense-submit-btn {
  background-color: red;
}

#expenses-ul {
  list-style: none;
  padding: 0;
  justify-content: center;
  align-items: center;
}

#expenses-ul li {
  margin: 0.5rem 0;
  /* border: 1px solid red; */
}
